{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-lg">
        <h1>{{'ingredient.edit.title'|trans}}</h1>

    <form name="ingredient" method="post">
        <div class="form-group">                
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="form-error text-danger">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group">                
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
            <div class="form-error text-danger">
                {{ form_errors(form.price) }}
            </div>
        </div>
        {{ form_row(form._token) }}

        
        {{ form_widget(form.submit, {
            label: '<i class="bi bi-floppy2 me-1"></i> ' ~ 'app.save.label'|trans,
            label_html: true
        }) }}
        {{ form_widget(form.cancel, {
            label: '<i class="bi bi-x-circle me-1"></i> ' ~ 'app.cancel.label'|trans,
            label_html: true
        }) }}
    </form>
    </div>
{% endblock %}