{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes ingredients{% endblock %}

{% block body %}
<div class="container mt-4">

    <a class="btn btn-primary mt-4 mb-4" href="{{ path('ingredient.new') }}">
        {{ 'ingredient.new.label'|trans }}
    </a>    
    {% if not ingredients.items is same as([]) %}
        <h1>Mes ingrédients</h1>

        <div class="count mt-4">
            <h5>Il y a {{ ingredients.getTotalItemCount }} ingrédient(s)</h5> 
        </div>

        <table class="table table-hover mt-4">
        <thead>
            <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Date de création</th>
            <th style="width: 10%" scope="col"></th>
            <th style="width: 10%" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}    
            <tr class="table-primary">
            <th scope="row">{{ ingredient.id }}</th>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.price|number_format(2, '.', ',') }}
            CHF
            </td>
            <td>{{ ingredient.createdAt | date('d/m/Y') }}</td>
            <td>
                <a href="{{ path('ingredient.edit', { id : ingredient.id }) }}" class="btn btn-info">
                Modifier</a>
            </td>
            <td>
                <a href="{{ path('ingredient.delete', { id : ingredient.id }) }}" class="btn btn-danger"
                    onclick="return confirm('Etes-vous sûr?')">Supprimer</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(ingredients) }}
        </div>
    {% else %}
        <h4> Il n'y a pas d'ingredients</h4>
    {% endif %}
</div>

{% endblock %}
