{% extends 'base.html.twig' %}

{% block title %}{{ app.request.server.get('APP_NAME') }} - Mes ingredients{% endblock %}

{% block body %}
<div class="container mt-4">        
    <h1>{{'ingredient.my.label'|trans}}</h1>
        <a class="btn btn-primary mt-4 mb-4 custom-btn bi bi-plus-circle-fill" href="{{ path('ingredient.new') }}">
            {{ 'ingredient.new.label'|trans }}
        </a>
    {% if not ingredients.items is same as([]) %}        
        <div class="count mt-4">
            <h5>{{ 'ingredient.count.label'|trans({'count': ingredients.getTotalItemCount}) }}</h5> 
        </div>
        <table class="table table-hover table-striped mt-4">
        <thead>
            <tr>
            <th style="width: 10%" scope="col"></th>
            <th style="width: 35%" scope="col">{{ 'ingredient.name.label'|trans }}</th>
            <th style="width: 25%" scope="col">{{ 'ingredient.price.label'|trans }}</th>
            <th style="width: 20%" scope="col">{{ 'app.createdAt.label'|trans }}</th>
            <th style="width: 5%" scope="col"></th>
            <th style="width: 5%" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for ingredient in ingredients %}    
            <tr class="jsTableRow">
            <td scope="row"><a href="{{ path('ingredient.edit', { id : ingredient.id }) }}">{{ ingredient.id }}</a></td>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.price|number_format(2, '.', ',') }}
            CHF
            </td>
            <td>{{ ingredient.createdAt | format_datetime('short') }}</td>
            <td>
                <a href="{{ path('ingredient.edit', { id : ingredient.id }) }}" 
                    class="btn btn-info" 
                    data-tooltip="tooltip" 
                    data-placement="top" 
                    title="{{'app.edit.label'|trans}}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
            <td>
                <a href="{{ path('ingredient.delete', { id : ingredient.id }) }}" 
                    class="btn btn-danger" 
                    data-tooltip="tooltip" 
                    data-placement="top" 
                    title="{{'app.delete.label'|trans}}"
                    data-toggle="confirm"
                    data-title="{{ 'app.confirmation.label'|trans }}"
                    data-locale="{{ app.request.locale }}">
                    <i class="bi bi-trash3-fill"></i>
                </a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(ingredients) }}
        </div>
    {% else %}
        <h5>{{ 'ingredient.count.label'|trans({'count': ingredients.getTotalItemCount}) }}</h5> 
    {% endif %}
</div>

{% endblock %}
