{% extends 'base.html.twig' %}

{% block title %}{{ app.request.server.get('APP_NAME') }} - {{'category.my.label'|trans}}{% endblock %}

{% block body %}
<div class="container-lg">      
    <a class="btn btn-primary float-end custom-btn bi bi-plus-circle-fill" href="{{ path('category.new') }}">
        {{ 'category.new.label'|trans }}
    </a>
    <h1>{{'category.my.label'|trans}}</h1>
    <div class="clearfix"></div>
    <div class="count mt-4">
        <h6>{{ 'category.count.label'|trans({'count': categories.getTotalItemCount}) }}</h6> 
    </div>
    {% if not categories.items is same as([]) %}        
        <table class="table table-hover">
        <thead>
            <tr>
            <th style="width: 10%" scope="col"></th>
            <th style="width: 50%" scope="col">{{ 'category.name.label'|trans }}</th>
            <th style="width: 30%" scope="col">{{ 'app.createdAt.label'|trans }}</th>
            <th style="width: 5%" scope="col"></th>
            <th style="width: 5%" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}    
            <tr class="jsTableRow">
            <td scope="row"><a href="{{ path('category.edit', { id : category.id }) }}">{{ category.id }}</a></td>
            <td>{{ category.name }}</td>
            <td>{{ category.createdAt | format_datetime('short') }}</td>
            <td>
                <a href="{{ path('category.edit', { id : category.id }) }}" 
                    class="btn btn-info" 
                    title="{{'app.edit.label'|trans}}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
            </td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" 
                    data-href="{{ path('category.delete', { id : category.id }) }}"
                    title="{{'app.delete.label'|trans}}"
                    data-label = "{{'category.confirm-delete.label'|trans}}"
                    data-bs-target="#confirmDeleteModal">
                    <i class="bi bi-trash3-fill"></i>
                </button>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(categories) }}
        </div>
    {% endif %}
</div>

{% endblock %}
