{% extends 'base.html.twig' %}
{% block title %}{{ app.request.server.get('APP_NAME') }} - Mes recettes{% endblock %}
{% block body %}
<div class="container mt-4">    
    <h1>{{ 'recipe.my.label'|trans }}</h1>
    <a class="btn btn-primary mt-4 mb-4 custom-btn bi bi-plus-circle-fill" href="{{ path('recipe.new') }}">
        {{ 'recipe.create.label'|trans }}
    </a>
    {% if not recettes.items is same as([]) %}    
    <div class="count mt-4">
        <h5>{{ 'recipe.count.label'|trans({'count': recettes.getTotalItemCount}) }}</h5> 
    </div>
    <table class="table table-hover table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Nb Personne</th>
                <th scope="col">Difficulté</th>
                <th scope="col">Dernières modifications</th>
                <th style="width: 5%" scope="col"></th>
                <th style="width: 5%" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}    
            <tr>
                <td scope="row">{{recette.id}}</td>
                <td>{{recette.name}}</td>
                <td>{{recette.price is null ? 'Non renseigné' : recette.price}}</td>
                <td>{{recette.nbPeople is null ? 'Non renseigné' : recette.nbPeople}}</td>
                <td>{{recette.difficulty is null ? 'Non renseigné' : recette.difficulty}}</td>
                <td>{{recette.updatedAt | date('d/m/Y H:i')}}</td>
                <td>
                    <a href="{{ path('recipe.edit', { id : recette.id }) }}" class="btn btn-info">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ path('recipe.delete', { id : recette.id }) }}" 
                        class="btn btn-danger" 
                        data-toggle="confirm"
                        data-locale="{{ app.request.locale }}"
                        data-title="{{ 'app.confirmation.label'|trans }}">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center mt-4">
        {{ knp_pagination_render(recettes) }}
    </div>
{% else %}
    <h5>{{ 'recipe.count.label'|trans({'count': recettes.getTotalItemCount}) }}</h5> 
{% endif %}
</div>
{% endblock %}
