{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Mes recettes{% endblock %}

{% block body %}
<div class="container mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-dismissible alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <a class="btn btn-primary mt-4 mb-4" href="{{ path('recipe.new') }}">
        Créer un recette
    </a>
    {% if not recettes.items is same as([]) %}
        <h1>Mes Recettes</h1>

        <div class="count mt-4">
            <h5>Il y a {{ recettes.getTotalItemCount }} recettes</h5> 
        </div>

        <table class="table table-hover mt-4">
        <thead>
            <tr>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Difficulté</th>
            <th scope="col">Date de création</th>
            <th scope="col">Edition</th>
            <th scope="col">Suppression</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}    
            <tr class="table-primary">
            <th scope="row">{{recette.id}}</th>
            <td>{{recette.name}}</td>
            <td>{{recette.price is null ? 'Non renseigné' : recette.price}}</td>
            <td>{{recette.difficulty is null ? 'Non renseigné' : recette.difficulty}}</td>
            <td>{{recette.createdAt | date('d/m/Y')}}</td>
            <td>
                <a href="{{ path('recipe.edit', { id : recette.id }) }}" class="btn btn-info">Modifier</a>
            </td>
            <td>
                <a href="{{ path('recipe.delete', { id : recette.id }) }}" class="btn btn-danger">Supprimer</a>
            </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(recettes) }}
        </div>
    {% else %}
        <h4> Il n'y a pas de recettes</h4>
    {% endif %}
</div>

{% endblock %}
