{% extends 'base.html.twig' %}

{% block title %}
MasterCook - {{ recipe.name }}
{% endblock %}

{% block body %}
	<div class="container">
	    <h1 class="mt-4">{{ recipe.name}}</h1>

		<div class="recipe_image">
			<img style="max-width:500px" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
		</div>

		{% if recipe.average %}
			<p>La moyenne de cette recette est de
				{{ recipe.average|number_format(2, '.', ',') }}/5 
			</p>
		{% endif %}
		
		<div>
			<span class="badge bg-primary">Créé le 
			{{ recipe.createdAt|date('d/m/Y')}}</span>
		</div>

		{% if recipe.time %}
			<p class="form-label mt-4">Temps: {{ recipe.time|min_to_hour }}</p>
		{% endif %}
	
		{% if recipe.nbPeople %}
			<p class="form-label mt-4">Pour  {{ recipe.nbPeople }} personnes</p>
		{% endif %}
		{% if recipe.difficulty %}
			<p class="form-label mt-4">Difficulté:  {{ recipe.difficulty }}/5</p>
		{% endif %}
		<p class="form-label mt-4">Description</p>
		<div>
			{{ recipe.description| raw}}
		</div>

		<p class="form-label mt-4">Ingredients</p>
		{% for ingredient in recipe.ingredients %}		
			<span class="badge bg-primary">{{ ingredient.name }}</span>
		{% endfor %}

		<div class="mark">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
