{% extends 'base.html.twig' %}

{% block title %}
	{{ app.request.server.get('APP_NAME') }} - {{ recipe.name }}
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="mt-4">{{ recipe.name}}</h1>
		<span class="badge bg-info rounded-pill mb-4">
			{{ 'app.createdAt.label'|trans }} {{ recipe.createdAt|format_date('short') }} {{ 'app.by.label'|trans }} {{ recipe.user.fullName }}  
		</span>
		<div class="recipe_image">
			<img style="max-width:500px" src="{{ vich_uploader_asset(recipe, 'imageFile') }}">
		</div>
		<div class="row">
			<div class="col-8">
				{% if recipe.average %}
					<p>{{ 'recipe.average.label'|trans }} {{ recipe.average|number_format(2, '.', ',') }}/5</p>
				{% endif %}

				{% if recipe.time %}
					<p class="form-label mt-4">
						{{ 'recipe.time.label'|trans }}: {{ recipe.time|min_to_hour }}</p>
				{% endif %}

				{% if recipe.nbPeople %}
					<p class="form-label mt-4">
						{{ 'recipe.nbPeople.label'|trans }}: {{ recipe.nbPeople }}
					</p>
				{% endif %}
				{% if recipe.difficulty %}
					<p class="form-label mt-4">
						{{ 'recipe.difficulty.label'|trans }}: {{ recipe.difficulty }}/5</p>
				{% endif %}

				<p class="form-label mt-4">
					{{ 'recipe.description.label'|trans }}:</p>
				<div>
					{{ recipe.description| raw}}
				</div>

				<p class="form-label mt-4">Ingredients:</p>
				{% for ingredient in recipe.ingredients %}
					<span class="badge bg-info rounded-pill">{{ ingredient.name }}</span>
				{% endfor %}
			</div>
			{% if app.user %}
				<div class="col-4">
					{{ form(form) }}
					{% if app.user is same as(recipe.user) %}
						<a href="{{ path('recipe.edit', {'id': recipe.id } )}}">
						<button class="btn btn-primary mt-4">{{ 'app.edit.label'|trans }}</button>
						</a>
					{% endif %}
				</div>
			{% endif %}
			</div>
		</div>
	{% endblock %}
