{% extends 'base.html.twig' %}
{% block title %}
	{{ app.request.server.get('APP_NAME') }}
	-
	{{'header.suggest.label'|trans}}
{% endblock %}
{% block body %}
	<div class="container-lg">
		<h1>{{ 'header.suggest.label'|trans }}</h1>
		<div class="clearfix"></div>
		<div class="row">
			{{ form_start(form) }}
			<div class="col">

				{% if not ingredients.items is same as([]) %}
					<h5>{{ 'recipe.suggest.label'|trans }}</h5>
					{% for ingredient in form.ingredients %}
						{{ form_widget(ingredient, { 'attr': {'class': 'form-check-input'} }) }}
						{{ form_label(ingredient) }}
						<br>
					{% endfor %}
				{% endif %}
			</div>
			<div class="row">
				<div class="col mb-4">
					{{ form_label(form.submit) }}
					{{ form_widget(form.submit) }}

					{{ form_label(form.cancel) }}
					{{ form_widget(form.cancel) }}
				</div>
			</div>
			<div class="d-flex justify-content-between flex-wrap">
				{% for recipe in recettes %}
					<a style="text-decoration:none" href="{{ path('recipe.show', {'id': recipe.id } )}}">
						<div class="card m-3" style="max-width: 20rem;">
							<div class="card-header">
								{{ 'recipe.no.label'|trans }}{{ recipe.id }}
								{{recipe.average|stars_rating()}}
							</div>
							{% if recipe.imageName is defined and recipe.imageName is not null  %}
								<img class="card-img-top" src="/images/recipe/{{recipe.imageName}}" alt="The recipe image">
							{% endif %}
							<div class="card-body">
								<h4 class="card-title">{{ recipe.name }}</h4>
								<p class="card-text">{{ recipe.description|u.truncate(150, '...')|nl2br }}</p>
								{% for ingredient in recipe.ingredients %}
									<span class="badge bg-info">{{ ingredient.name }}</span>
								{% endfor %}
							</div>
							<div class="card-footer">
								<small class="text-muted">{{ 'app.createdBy.label'|trans }}
									{{ recipe.createdBy }}</small>
								{% if recipe.user.imageName %}
									<img src="/images/user/{{ recipe.user.imageName }}" class="rounded-circle" height="22" width="22" alt="Avatar"/>
								{% endif %}
								<br/>
								<small class="text-muted">{{ 'app.updatedAt.label'|trans }}
									{{ recipe.updatedAt | localized_date(app.request.locale) }}</small>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
