{% extends 'base.html.twig' %}

{% block title %}{{ app.request.server.get('APP_NAME') }} - {{ 'header.update-password.label'|trans}}
{% endblock %}

{% block body %}
<div class="container-lg">
	<h1>{{ 'header.update-password.label'|trans}}</h1>
	{{ form_start(form) }}
    {{ form_row(form.plainPassword) }}
	{{ form_row(form.newPassword) }}
    {{ form_widget(form.submit, {
        label: '<i class="bi bi-floppy2 me-1"></i> ' ~ 'app.save.label'|trans,
        label_html: true
    }) }}
    {{ form_end(form) }}
</div>
{% endblock %}

