{% extends 'base.html.twig' %}
{% block title %}{{'app.login.label'|trans}}{% endblock %}
{% block body %}
<div class="container-lg login-container mt-5 ">
    <form name="login" method="post">
    <input type="hidden" name="_target_path" value="{{ back_to_your_page }}"/>
        {% if app.user %}
            <div class="mb-3">
                {{ 'app.logged.label'|trans }}&nbsp;{{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{ 'app.logout.label'|trans }}</a>
            </div>
        {% else %}
            <h3 class="mb-3 mt-4">{{ 'app.login.label'|trans }}</h3>
            <div class="form-floating mb-3">
                <input required 
                    type="email" 
                    placeholder="login" 
                    class="form-control" 
                    id="username" 
                    name="_username" 
                    autocomplete="email" 
                    placeholder="name@example.com" 
                    value="{{ last_username }}">
                <label for="floatingInput">Login</label>
            </div>
            <div class="form-floating input-group">
                <input required type="password" 
                       class="form-control" 
                       id="password" 
                       name="_password"
                       autocomplete="current-password"
                       placeholder="Password">
                       <button type="button" id="togglePassword" class="btn btn-secondary bi bi-eye-slash"></button>
                <label for="floatingPassword">Password</label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <input type="hidden" name="_target_path" value="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
            <button class="btn btn-primary mt-4 custom-btn bi bi-door-open" type="submit">
                {{ 'app.login.label'|trans }}
            </button>

            <a class="btn btn-info mt-4" href="{{ path('app_forgot_password_request') }}">{{'contact.forgot-password.label'|trans}}</a>
        {% endif %}
    </form>
</div>
<script>
    
    document.querySelector("#togglePassword").addEventListener("click", function () {
        const password = document.querySelector("#password");
        // toggle the type attribute
        password.setAttribute("type", password.getAttribute("type") === "password" ? "text" : "password");
        // toggle the icon
        this.classList.toggle("bi-eye");
    });
</script>
{% endblock %}
